.landing-main-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
    overflow: scroll;
    height:100vh;
}

.categories-container{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 38rem;
    gap: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.category-box{
    display: flex;
}


.categories-container h2{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.categories-title{
    position: sticky;
    top: 0;
}

 

.title-container{
    position: relative;
}

.hero-title{
    position: absolute;
    top: 2rem;
    z-index: 999; 
    border-radius: 5px;
    padding: 0.4rem;
    line-height: 2.3rem;
    right: 0;
    line-height: 3rem;
    text-align: right;
    
}

.bike-part,.covered{
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 0.2rem;
    color: white;
    letter-spacing: 0.8rem;
    font-weight: 400;
    padding-left: 1rem;
}

.covered{
    background-color: rgb(41, 188, 41);
}

.hero-bike-img{

    
}


.hero-bike-img img{
    width: 65%;
}


.Shop-now{
    border-radius:5px;
    font-size: x-large;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* category box */

.black-box{
    width: 13rem;
    height: 8rem;
    border-radius: 5px;
    background-color: var(--primary-color);
}
 
 


@media screen and (max-width:1024px) {
  

     .Shop-now{
        top: 20rem;
        padding: 1rem;
     }

     .categories-container h2{
        font-size: 10px ;
     }
     
     
     
     
}


@media screen and (max-width:480px){

     

   .landing-main-container{
        flex-direction: column;
        justify-content: start;
       
    }
    .categories-container{
        align-items: center;
    }

    .categories-container h2{
        width: 18rem;
    }
}
 
 