.landing-main-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 2rem;

}

.categories-container{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;     
    border-radius: 5px;
}

.categories-container h2{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 0.3rem 0rem;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.categories-title{
    position: sticky;
    top: 0;
}

.hero-img{
    position: relative;
}

.title-container{
    position: relative;
}

.hero-title{
    position: absolute;
    top: 2rem;
    z-index: 999; 
    border-radius: 5px;
    padding: 0.4rem;
    line-height: 2.3rem;
    
}

.bike-part,.covered{
    background-color: var(--Contrast-color);
    border-radius: 5px;
    padding: 0.2rem;
    color: white;
}

.covered{
    background-color: rgb(41, 188, 41);
}

.carousel-bikes{
    height: 80rem;

}

.carousel .slider-wrapper{
    height: 50rem;
}



.Shop-now{
    position: absolute;
    left: 0.2rem;
    top: 40rem;
    padding: 1.5rem;
    border-radius:5px;
    font-size: x-large;
    background-color: var(--Contrast-color);
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

 


@media screen and (max-width:1024px) {
    .slider-wrapper{
        width: 30rem;
    }

    .carousel .slider-wrapper{
        height: 32rem;
     }

     .Shop-now{
        top: 25rem;
     }

     .categories-container{
        height: 30rem;        
     }
     
}


@media screen and (max-width:480px){

    .carousel-bikes{
        height: 55rem;
    }

   .landing-main-container{
        flex-direction: column;
        justify-content: start;
        overflow-y: auto;
    }
    .categories-container{
        align-items: center;
    }

    .categories-container h2{
        width: 18rem;
    }
}
 
 