.wishlist-body{
    display: flex;
    width: 85vw;
    margin: auto;
    height: 80vh;
    flex-direction: column;
}

.wishlist-body h1{
    color: var(--Contrast-color);
    text-shadow: 2px 2px 2px black;
    margin-top: 5rem;
}

.wishlist-box{
    display: flex;
}

.wishlist-box h1{
    color: var(--Contrast-color);
}

.empty-wishlist-img{
    width: 27rem;
}

