.signup-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    color: var(--primary-color);
}


.signup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
    width: 30rem;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  
  .signup-card h1{
    color: var(--secondary-color);
    margin-bottom: 3rem;
    text-shadow: -1px 2px 3px var(--primary-color);
  }
  
  .signup-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    border-radius: 3px;
  }
  
  .signup-card button {
    width: 100%;
    padding: 8px;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: large;
  }
  
  .signup-card p {
    text-align: center;
 }

 .signup-card p a{
  color: var(--secondary-color);
   font-weight: bold;
 }


  
 @media screen and (max-width: 480px) {

  
.signup-card {
 
  height: 30rem;
    width: 23rem;
}

 }