.cart-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    height: 80vh;        
 
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--Neutral-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--Contrast-color); 
  }

  .all-products-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  .cart-empty{
    color: var(--Contrast-color);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: xx-large;
  }

  .cart-empty h1{
    margin: 3rem;
  }

  .cart-empty img{
    margin-top: 5rem;
    width: 30rem;
  }

  @media (max-width:480px) {
    .cart-main-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .all-products-container{
      height: 12rem;
    }
    
    
  }