.product-card-body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    border-radius: 5px;
    padding: 1rem;    
}

.product-card-horizontal{
    display: flex;
    width: 35rem;
    height: 21rem;
    border: none;
    border-radius:5px ;
    padding: 1rem 1rem 1rem 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-card-horizontal img{
    width: 15rem;
    border-radius: 5px;
    height: 19.8rem;
    object-fit: contain;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15rem;
    border-radius: 5px;
    height: 16rem;
}

.quantity-box{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--Neutral-color);
    width: 14rem;
    padding: 0.3rem;
    border-radius: 5px;
}


.increment-button, .decrement-button{
    padding: 0.4rem 0.6rem;
    width: 2rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cart-btns{
    height: 3rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:480px) {
    .product-card-body{
        width: 22rem;
        height: 20rem;
        padding-top: 2rem;
    }

    .product-card-horizontal{
        width: 22rem;
        padding: 0.5rem;
    }
    
    .product-card-horizontal img{
        width: 9rem;
    }

    .product-details{
        width: 11rem;
    }
   
    .cart-btns button{
       padding: 0.5rem;
       width: 9rem;
    }

    .quantity-box{
        width: 9rem;
        padding: 0rem;
    }

    .quantity-box button{
        padding: 0;
    }


}