
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.category-img{
    width: 6rem;
    border-radius: 5px ;
}

.img-category-container{
    width: 210px;
    overflow: hidden;
    height: 130px;
    background-color: white;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px ;
    color: rgba(0, 0, 0, 0);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.category-name{
    position: absolute;
    top: 0px;
    width: 200px;
    height: 110px;
    font-size: xx-large;
    padding:45px 15px; 
    text-align: center;
    background-color: transparent;
    transition: 0.5s;
}

.img-category-container :hover {
    background-color: rgba(0, 0, 0, 0.608);
    color: white;
    height: 130px;
    width: 210px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



@media screen and (max-width:1024px){



   .img-category-container{
       width: 9rem;
       height: 4.1rem;
   }
   
   .category-img{
      width: 4rem;
   }
}

@media screen and (max-width:480px){

}