.cart-details-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.cartDetails-box{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 18rem;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.246);
    padding: 1rem;
    border-radius: 5px;
}

.detail-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    font-size: larger;
}

.checkout-btn{
    padding: 0.5rem;
    font-weight: bolder;
    background-color: #E5AE12;
    color: black;
    cursor: pointer;
}
