.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #665527;
  background-color: var(--primary-color);

}

.nav-bar h3 a {
  color: var(--Neutral-color);
  background-color: var(--secondary-color);
  padding: 0.5rem;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Nosifer', sans-serif;
}

.nav-bar h3 a:hover{
  background-color: var(--Contrast-color);
  color: var(--primary-color);
}



.nav-bar input {
  height: 30px;
  width: 400px;
  padding: 12px;
  border-radius: 2px;
  border: none;
  outline: none;
}

/**count-component**/
.count-num {
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(31, 30, 30);
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  position: absolute;
  top: -2rem;
  right: -0.8rem;
}

.Nav-btns .fa-heart,.fa-cart-shopping,.fa-bars,.fa-bars-staggered,.fa-user{
  color:var(--Neutral-color)
}

.fa-heart:hover{
  color: var(--Contrast-color);
}
.fa-cart-shopping:hover{
  color: var(--Contrast-color);
}
.fa-user:hover{
  color: var(--Contrast-color);
}

.wishlist-count, .cart-count{
  position: relative;
}



.Nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  color: var(--secondary-color);
  cursor: pointer;
}

/**login-btn**/
.btn-login {
  padding: 3px 8px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-login a{
  color: var(--primary-color);
}



.btn-login:hover{
  background-color: var(--Contrast-color);
}

.filter-option-mobile{
  display: none;
}



@media  (max-width: 1024px) {
  

  
}

@media  (max-width:480px) {

  .filter-option-mobile{
    display: block;
  }

  .desktop-nav{
    display: none;
  }

    .nav-bar{
        height: 8rem;
    }

    .nav-bar h3 a{
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        padding: 0.5rem;
    }

    .Nav-btns{
      position: absolute;
      width: 100%;
      height: 4rem;
      top: 0rem;
      padding: 0rem 3rem 1rem 1rem;
      background-color: var(--primary-color);
  }



    .filter-option-mobile{
      position: absolute;
      top: 1rem;
      right: 1rem;
    }


    .nav-bar input{
      width: 21.4rem;
      height: 2rem;
      margin: 3rem auto 0rem 1rem;
  }

    /*

    .btn-login{
        padding: 0.3rem;
        position: absolute;
        left: 9rem;
    }


    .cart-count{
        right: 2.7rem;
    }

    .count-num{
        top: -0.3rem;
        right: 1.9rem;
    } */
}