*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #1C1919;
  --secondary-color: #F2771A;
  --tertiary-color:#5F021F;
  --Accent-color:#8C001A;
  --Neutral-color:#FFAB3F;
  --Contrast-color:#F2771A;
}


.button{
  background-color: var(--Neutral-color);
  color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button:hover{
  opacity: 90%;
}

.button:active{
  background-color: var(--tertiary-color);
  color: var(--Neutral-color);
}

