*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

:root{
  --primary-color: #1e1d1d;
  --secondary-color: #cf2c2c;
  --tertiary-color:#5F021F;
  --Accent-color:#eaac1b;
  --Neutral-color:#d4d4d4;
  --background-color: rgb(255, 255, 255);
  --Contrast-color:#A4161B;
}


.button{
  background-color: var(--secondary-color);
  color: var(--Neutral-color);
 
}

.button:hover{
  opacity: 90%;
}

.button:active{
  background-color: var(--primary-color);
  color: var(--Neutral-color);
}

